.container {
  margin: 0 auto;
  background: var(--white);
  padding: 84px 120px 124px 120px;
}
.price {
  display: flex;
  gap: 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
