.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}
.form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 196px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  margin-bottom: 8px;
}

.select,
.input {
  border-radius: 12px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  background: var(--inputs);
}

.rangeGroup {
  display: flex;
  width: 100%;
  min-height: 44px;
}

.rangeInput {
  padding: 10px 12px;
  font-size: 16px;
  outline: none;
  max-width: 160px;
  background: var(--inputs);
}

.leftInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rightInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
